<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="adzakha2@mts.ru">
    <title>Статистика Dante</title>
    <link href="/static/vuetify.css" rel="stylesheet">
    <link href="/static/material-icons.css" rel="stylesheet">
    <link href="/static/highcharts.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <v-app dark>
        <v-navigation-drawer
                v-model="drawer"
                clipped
                fixed
                app>
            <v-list dense>
                <v-list-tile @click="">
                    <v-list-tile-action>
                        <v-icon>home</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Главная</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar app fixed clipped-left>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>Статистика Dante</v-toolbar-title>
        </v-toolbar>
        <v-content>
            <v-container fluid fill-height>
                {% block content %}
                {% endblock %}
            </v-container>
        </v-content>
        <v-footer app fixed>
            <span>&copy; 2018 Захаров А.Д.</span>
        </v-footer>
        <v-snackbar timeout.int="6000" bottom right v-model="snackbar">
            [[ snackbarText ]]
            <v-btn flat color="pink" @click.native="snackbar = false">Закрыть</v-btn>
        </v-snackbar>
    </v-app>
</div>
</body>
<script src="/static/axios.js"></script>
<script src="/static/lodash.js"></script>
<script src="/static/moment-with-locales.js"></script>
<script src="/static/vue.js"></script>
<script src="/static/vuetify.js"></script>
<script src="/static/highcharts.js"></script>
<script src="/static/highcharts-more.js"></script>
<script src="/static/vue-highcharts.js"></script>
{% block template %}
{% endblock %}
{% block script %}
{%  endblock %}
<script>
    Vue.use(VueHighcharts);
    window.application = new Vue({
        el: "#app",
        delimiters: ["[[", "]]"],
        data: {
            drawer: true,
            snackbar: false,
            snackbarText: ""
        },
        methods: {
            notify: function (text) {
                this.snackbarText = text;
                this.snackbar = true;
            }
        }
    });
</script>
</html>